### For Loop

In [5]:
friend1 = "Ayan"
friend2 = "Arsalan"
friend3 = "Noman"
friend4 = "Mehmood"

print(f'{friend1} You are invited for the party.')
print(f'{friend2} You are invited for the party.')
print(f'{friend3} You are invited for the party.')
print(f'{friend4} You are invited for the party.')

Ayan You are invited for the party.
Arsalan You are invited for the party.
Noman You are invited for the party.
Mehmood You are invited for the party.

In [6]:
friends = ['Ayan', 'Arsalan', 'Noman', 'Mehmood']

for friend in friends:
    print(f'{friend} You are invited for the party.')

Ayan You are invited for the party.
Arsalan You are invited for the party.
Noman You are invited for the party.
Mehmood You are invited for the party.

In [3]:
cleanest_city = "Islamabad"


if cleanest_city == pakistan_cities[0]:
    print(cleanest_city)
elif cleanest_city == pakistan_cities[1]:
    print(cleanest_city)
elif cleanest_city == pakistan_cities[2]:
    print(cleanest_city)
elif cleanest_city == pakistan_cities[3]:
    print(cleanest_city)
elif cleanest_city == pakistan_cities[4]:
    print(cleanest_city)

Islamabad

In [5]:
pakistan_cities = ['Karachi', 'Lahore', "Pindi", 'Islamabad']

for city in pakistan_cities:
    if city == cleanest_city:
        print(city)
    else:
        print(f'{city} is not a clean city.')

Karachi is not a clean city.
Lahore is not a clean city.
Pindi is not a clean city.
Islamabad

In [4]:
if cleanest_city in pakistan_cities:
    print(cleanest_city)

Islamabad

In [1]:
first_names = ['Muhammad', 'Umair', 'Sameer']
last_names = ['Salman', 'Nawaz', 'Hussain']
full_names = []

for first_name in first_names:
    for last_name in last_names:
        full_names.append(first_name + ' ' + last_name)

print(full_names)

['Muhammad Salman', 'Muhammad Nawaz', 'Muhammad Hussain', 'Umair Salman', 'Umair Nawaz', 'Umair Hussain', 'Sameer Salman', 'Sameer Nawaz', 'Sameer Hussain']

In [8]:
len(first_names)

3

In [13]:
for i in range(1, 10, 3):
    print(i)

1
4
7

In [12]:
#                0           1        2          3       4
first_names = ['Muhammad', 'Umair', 'Sameer', 'Noman', 'Mushtaq']
#                             -4         -3       -2           -1
print(first_names[1])
print(first_names[1:3])
print(first_names[:3])
print(first_names[1:5:2])
print(first_names[-3:-1])

Umair
['Umair', 'Sameer']
['Muhammad', 'Umair', 'Sameer']
['Umair', 'Noman']
['Sameer', 'Noman']

In [24]:
first_names = ['Muhammad', 'Umair', 'Sameer']
last_names = ['Salman', 'Nawaz', 'Hussain']
full_names = []

# first_names.append('Muhammad')
# last_names.append('Noman')
# print(first_names)
# print(last_names)
# print(len(first_names))

# for i in range(len(first_names)):
#     print(i)
for i in range(len(first_names)):
    full_names.append(first_names[i] + ' ' + last_names[i])
print(full_names)

['Muhammad Salman', 'Umair Nawaz', 'Sameer Hussain']

### Task:
    - Write a code to create tables using range() and nested for loop

In [29]:
table= [2,3]
n= 10
for i in range(len(table)):
    for x in range(1,n + 1):
        print(f'{table[i]} x {x} = {table[i]*x}')
    print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [31]:
for i in range(2, 6):
    print("Table of", i)
    
    for j in range(1, 11):
        print(f'{i} x {j} = {i*j}')
    print()

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [35]:
name = 'UMAIR nawaz'
name.lower()
name.upper()
name.title()

'Umair Nawaz'

### Task:
    Write a program that prints the numbers from 1 to 100, but with the following rules:

        - For numbers that are divisible by 3, print "Fizz" instead of the number.
        - For numbers that are divisible by 5, print "Buzz" instead of the number.
        - For numbers that are divisible by both 3 and 5, print "FizzBuzz" instead of the number.
        - For all other numbers, print the number itself.

In [ ]:
for i in range(1, 101):
    if i % 3 == 0:
        print("Fizz")