### User Input

In [2]:
full_name = input('Enter Your Name: ')
print(full_name)

Enter Your Name:  Umair

Umair

In [7]:
age = int(input('Enter Your Name: '))
print(age)

Enter Your Name:  23

23

### Task
- If student percentage is less then 90, so the grade will be A
- If student percentage is less then 80, so the grade will be B
- If student percentage is less then 70, so the grade will be C
- If student percentage is less then 60, so the grade will be D
- otherwise grade will be A+

In [7]:
marks = int(input("please enter your marks"))
if marks >= 90:
    print("Grade-A+")
elif marks >= 80:
    print("Grade-A")
elif marks >= 70:
    print ("Grade-B")
elif marks >= 60:
    print('Grade-C')
else:
    print("Grade-F")

please enter your marks 81

Grade-A

In [9]:
gender = input("Enter Your Gender Male/Female: ")

if gender == "Male":
    qualification = input("Enter Your Qualification: ")
    if qualification == "Intermediate":
        print("Congratualation! Your are eligible.")
    else:
        print("Sorry! You are not eligible.")
else:
    print("you are not eligible.")

Enter Your Gender Male/Female:  Male
Enter Your Qualification:  Intermediate

Congratualation! Your are eligible.

### List

In [13]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print(city_0)
print(city_1)

Atlanta
Baltimore

In [1]:
#             0           1       2            3        4
cities = ['Atlanta', 'Chicago', 'Karachi', 'Lahore', 'Karachi']
#            -5          -4          -3      -2          -1
print(cities)

['Atlanta', 'Chicago', 'Karachi', 'Lahore', 'Karachi']

In [16]:
cities.append('Multan')
print(cities)

['Atlanta', 'Chicago', 'Karachi', 'Lahore', 'Karachi', 'Multan']

In [19]:
cities = cities + ["Dubuque", "New Orleans"]
print(cities)

# cities['Karachi'] = "Islamabad"
# print(cities)

['Atlanta', 'Chicago', 'Karachi', 'Lahore', 'Karachi', 'Multan', 'Dubuque', 'New Orleans']

In [20]:
cities[2] = 'Islamabad'
print(cities)

['Atlanta', 'Chicago', 'Islamabad', 'Lahore', 'Karachi', 'Multan', 'Dubuque', 'New Orleans']

In [21]:
cities.insert(1, 'Faisalabad')
print(cities)

['Atlanta', 'Faisalabad', 'Chicago', 'Islamabad', 'Lahore', 'Karachi', 'Multan', 'Dubuque', 'New Orleans']

In [22]:
# Slicing
cities

['Atlanta',
 'Faisalabad',
 'Chicago',
 'Islamabad',
 'Lahore',
 'Karachi',
 'Multan',
 'Dubuque',
 'New Orleans']

In [23]:
cities[2:-2]

['Chicago', 'Islamabad', 'Lahore', 'Karachi', 'Multan']

In [25]:
cities[:5]

['Atlanta', 'Faisalabad', 'Chicago', 'Islamabad', 'Lahore']

In [26]:
del cities['Faisalabad']
print(cities)

TypeError: list indices must be integers or slices, not str

In [27]:
del cities[1]
print(cities)

['Atlanta', 'Chicago', 'Islamabad', 'Lahore', 'Karachi', 'Multan', 'Dubuque', 'New Orleans']

In [28]:
cities.remove('Chicago')
print(cities)

['Atlanta', 'Islamabad', 'Lahore', 'Karachi', 'Multan', 'Dubuque', 'New Orleans']

In [31]:
sindh_cities = cities.pop(3)
print(sindh_cities)

Karachi

In [38]:
city1 = cities[1]
print(city1)

Islamabad

## Tuple

In [34]:
print(type(['Umair', 'Qasim', 'Ayan'])) # Mutable
print(type(('Umair', 'Qasim', 'Ayan'))) # Imutable

<class 'list'>
<class 'tuple'>

In [35]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")

In [37]:
second_state_founded = states_in_order_of_founding[1]
print(second_state_founded)

Pennsylvania

In [2]:
cities

['Atlanta', 'Chicago', 'Karachi', 'Lahore', 'Karachi']

In [3]:
if "Karachi" in cities:
    print(f'{fruit} yes')
else:
    print('no')

yes

### Task

You have a fruit basket represented as a list of fruits. You need to check if a specific fruit is in the basket. If it is, print a message saying it’s available. If not, say it’s not available.

Additionally, you have a tuple of favorite fruits. If the fruit is found in both the basket and your favorites, print a special message.

In [16]:
fruits =["apple", "banana", "orange", "date"]
favourite_fruits = ('date', 'banana')

fruit = input("Enter your favourite fruit:")

if fruit.lower() in fruits:
    print("Yes, it is avilable")
    if fruit.lower() in favourite_fruits:
        print("Yes, Your fruit is in our favourite fruits.")
else:
    print("No, it is not available")

Enter your favourite fruit: date

Yes, it is avilable
Yes, Your fruit is in our favourite fruits.